<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>正在执行... - <%= buildLogName %> </title>
  <style>
    .build-title {
      text-align: center;
    }

    .build-title h3 {
      background: #2196F3;
      color: #fff;
      padding: 10px;
      font-size: 20px;
    }

    .build-title h3 img {
      width: 22px;
      height: auto;
      display: inline-block;
      transform: translateY(3px);
    }

    #iframe {
      border: 1px solid #9E9E9E;
    }
  </style>
</head>

<body>
  <div class="build-title">
    <h3> <img src="/loadimg.gif"> 正在执行，执行结束前<strong>请勿</strong>刷新此页面!!</h3>
    <p>你可以直接关闭本页面，或观察【<a href="/logs/<%= buildLogName %>" target="_blank" title="<%= buildLogName %>">日志输出</a>】</p>
  </div>
  <iframe id="iframe" src="/logs/<%= buildLogName %>" width="100%" height="500"></iframe>
  <script>
  // window.onload = function() {
  //   window.setInterval(reloadIFrame, 5000)

  //   var iframe = document.getElementById('iframe')
  //   function reloadIFrame() {
  //     iframe.contentWindow.location.reload()
  //   }
  //   iframe.addEventListener('load', function() {
  //     this.contentWindow.scrollTo( 0, Number.MAX_SAFE_INTEGER  )
  //   })
  //   reloadIFrame()
  // }
  </script>
</body>

</html>