<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Automate</title>
</head>
<body>
  <h1>Automate - Node.js 自动化编译部署工具</h1>
  <ul>
    <li><a href="/logs/">构建日志</a></li>
  </ul>
</body>
</html>