<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('_head'); -%>
  <title>Automate</title>
  <style>
    li {
      margin-bottom: 5px;
    }
  </style>
  <script src="/lib/axios.min.js"></script>
</head>

<body>
  <%- include('_nav'); -%>
  <div id="vm" class="container">

    <div class="">
      <h2>管理</h2>
      <ul>
        <li>服务已经运行了：<span class="badge">{{runningTime}}</span></li>
        <li><a class="btn btn-primary" href="/logs/">日志列表 · Logs</a></li>
        <li><a class="btn btn-danger" href="/restart" @click.prevent="handleRestart()" title="重启 Automate 服务！用于解决一些构建执行时卡住的问题">重启服务</a></li>
      </ul>
    </div>

    <div class="">
      <h2>点击一项立即开始<abbr title="点击立即开始构建该项。警告：启动后不支持停止，请勿重复点击！">构建</abbr></h2>

      <ul>
        <li v-for="(v,i) in list" :key="i">
          <a class="btn btn-default" :class="{'btn-info': v.title}" :href="v.url" :title="v.url" @click.prevent="handleBuild(v.url)">{{v.title || v.url}}</a>
        </li>
      </ul>

      <ul v-if="list.length===0">
        <li>暂无配置，可以将 <a href="/projects.demo.json">/projects.demo.json</a> 重命名为 projects.json 以查看效果。</li>
        <li>注意：示例文件都是无效的，即使尝试运行也会报错，具体请参考文档。</li>
      </ul>
    </div>

  </div>

  <script>
    var serviceInitTime = '<%= serviceInitTime %>'
    function getRunningSeconds(initTime) {
      return (new Date(Date.now() - initTime) / 1000).toFixed(0) + 's'
    }

    new Vue({
      el: '#vm',
      data: {
        list: [],
        runningTime: getRunningSeconds(serviceInitTime)
      },
      mounted: function () {
        axios.get('/projects.json').then(res => {
          res.data.forEach(v => {
            this.list.push({
              title: v.title,
              url: '/build/' + v.cmd + '/' + v.config
            })
          })
        })

        setInterval(() => {
          this.runningTime = getRunningSeconds(serviceInitTime)
        }, 1000);
      },
      methods: {
        handleRestart() {
          if (confirm('确定要重启 Automate 服务吗？')) {
            location.href = '/restart'
          }
        },
        handleBuild(url) {
          if (confirm('确定要开始构建 ' + url + ' ?')) {
            axios.get(url).then(res => {
              console.log(res.data)
              location.href = '/logs/' + res.data.buildLogName
            }).catch(e => {
              console.error(e)
            })
          }
        }
      }
    })
  </script>
</body>

</html>