<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('_head'); -%>
  <title>Automate</title>
  <style>
    li {
      margin-bottom: 5px;
    }
  </style>
  <script src="/lib/axios.min.js"></script>
</head>

<body>
  <%- include('_nav'); -%>
  <div id="vm" class="container">

    <div class="">
      <h2>管理</h2>
      <ul>
        <li>服务已经运行了：{{runningTime}}</li>
        <li><a class="btn btn-primary" href="/logs/">日志列表 · Logs</a></li>
        <li><a class="btn btn-danger" href="/restart" title="点击后立即重启服务！用于解决一些构建执行时卡住的问题">立即重启服务</a></li>
      </ul>
    </div>

    <div class="">
      <h2>点击一项立即开始<abbr title="点击立即开始构建该项。警告：启动后不支持停止，请勿重复点击！">构建</abbr></h2>

      <ul>
        <li v-for="(v,i) in list" :key="i">
          <a class="btn btn-warning" :href="v" target="_blank">{{v}}</a>
        </li>
      </ul>
    </div>

  </div>

  <script>
    var serviceInitTime = '<%= serviceInitTime %>'
    function getRunningSeconds(initTime) {
      return (new Date(Date.now() - initTime) / 1000).toFixed(0) + 's'
    }

    new Vue({
      el: '#vm',
      data: {
        list: [],
        runningTime: getRunningSeconds(serviceInitTime)
      },
      mounted: function () {
        axios.get('/projects.json').then(res => {
          res.data.forEach(v => {
            this.list.push('/build/' + v.cmd + '/' + v.config)
          })
        })

        setInterval(() => {
          this.runningTime = getRunningSeconds(serviceInitTime)
        }, 1000);
      },

    })
  </script>
</body>

</html>