<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('_head'); -%>
  <title>日志列表</title>
</head>

<body>
  <%- include('_nav'); -%>
  <div id="root" class="container">

    <h2>状态</h2>
    <p class="task-tip">任务队列中的任务个数：<%= tasks.length %><span class="mini-font">（不会自动刷新）</span></p>

    <h2>日志列表</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>创建时间</th>
          <th>Node 命令</th>
          <th>日志文件</th>
          <th>PostMessage</th>
          <th>部署分支</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(log, index) in logs" :key="log.time">
          <th scope="row">{{ index+1 }}</th>
          <td>{{ log.time }}</td>
          <td>{{ log.command }}</td>
          <td><a :href="`/logs/${log.logFile}`">{{ log.logFile }}</a></td>
          <td><a v-if="log.postMessageFile" :href="`/logs/${log.postMessageFile}`">点击查看</a><span v-else>-</span></td>
          <td>{{ log.branch || '-' }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <%- include('_ssr'); -%>
  <script>
    var vm = new Vue({
      el: '#root',
      data: {
        logs: SSR_DATA
      }
    })
  </script>

</body>

</html>