<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Log list</title>
</head>

<body>
  <ul>
    <% list.forEach(function(item){%>
      <li><a href="/logs/<%= item %>"><%= item %></a></li>
    <% }) %>
  </ul>
</body>

</html>