<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
  <style>
    body {
      margin: 0;
    }
    .log-content {
      margin: 0;
      padding: 10px;
      background: #ccc;
    }
  </style>
</head>

<body>
  <pre class="log-content"><%= content %></pre>
</body>

</html>