abbr, .cur-help {cursor: help;}

.site-title {
  font-family: Montserrat, Open Sans, PingFang SC, Arial, Microsoft YaHei, Helvetica Neue, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
  font-size: 5rem;
  color: #F44336;
  text-shadow: 4px 4px 0 #FFEB3B;
  margin-bottom: 0;
}

.mini-font {
  font-size: 12px;
}

.tip {
  text-align: center;
}

.log-content {
  margin: 0;
  padding: 10px;
  background: #ccc;
  overflow-x: auto;
  position: relative;
}
.log-content .loading {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 32px;
  height: auto;
}